@charset "UTF-8";
/* Generic Page Layout */
html
{
	height:100%;									/* 100% of page filled */
}

body
{
	height: 100%;
	width: 100%;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;		/* Font is Arial for entire page */
	justify-items: center;							/* items are centered on pages */
	align-items: center;
	background-color: #f58426;					/* background color for body of pages is always orange */
}

button {
	padding: 7px;
	color: white;
	background-color: #013e7f;
	cursor: pointer;
}

table 
{
	border-collapse: collapse;
	background-color: navajowhite;
}
table, th, td 
{
	border: 1px solid black;					/* table text is black for all tables */
}
th 
{
	background-color: #013e7f;					/* table header background is blue for all tables */
	color: white;								/* table header text color is white for all tables */
}

/* Fixed Header */
.header
{
	width: 100%;
    height: auto;
    position: fixed;
    background-color: #013e7f;					/* the header that says "SUNY New Paltz" on top of page */
}

.scheduler-title
{
	position: fixed;
    width: 100%;
    height: auto;
    color: white;
    font-weight: bolder;
    font-size: 35;
    left: 215;
    display: inline-block;
    top: -15;
}

.logo
{
	height: auto;
    width: 200px;
}

	

/* Fixed Side Bar */
.logout-button
{
	width: auto;
    padding: 7px;
    margin-left: 65px;
    color: white;
    font-size: 14px;
    background-color: #013e7f;
    cursor: pointer;
    display: inline-block;
    position: fixed;
}

.logout-form
{
	width: 8%;
	cursor: pointer;
	position: fixed;
}

.leftnav
{
	margin-top: 70px;
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: white;
}

.navlink
{
	font-size: 20px;	
}

.leftnav a 
{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: white;
  background-color: #013e7f;
  display: block;
}

.leftnav a:hover 
{
  color: #f58426;
  cursor: pointer;
}

.leftnav a.active 
{
  background-color: white;
  color: #013e7f;
}

/* Content area, changes depending on active navlink */
.content 
{
	margin-left: 210px;
    margin-top: 70px;
    padding: 10px;
    display: inline-table;
    font-size: 18px;
    font-weight: normal;
}

.h2
{
	font-size: 30;
    font-weight: bold;
    color: #013e7f;
}

.title
{
	padding: 1px;
	color: #013e7f;
	outline-color: white;
	margin: auto;
    text-align: center;
	font-weight: bold;
	font-size: 30px;
}

/* The Modal (background) */
.modal 
{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content 
{
	background-color: navajowhite;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: fit-content;
}

/* Submit Button */
.submit
{
	color: white;
    background-color: #013e7f;
    font-size: 14;
}

/* The Close Button */
.close 
{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
  
.close:hover,
.close:focus 
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/* Search Butttons */
a
{
	width: auto;
    padding: 7px;
    color: white;
    background-color: #013e7f;
    cursor: pointer;
}

/* The card is used to organize the create forms, it uses flexbox */
.card {
	background-color: navajowhite;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border: 1px solid black;
	margin-top: 16px;
}

.card-header h2{
	background-color: #013e7f;
	color: white;
	border-bottom: 1px solid black;
	margin: 0px;
	text-align: center;
}

.card-content {
	padding: 16px;
	display: flex;
}

.card-content button{
    padding: 7px;
    color: white;
    background-color: #013e7f;
	cursor: pointer;
	position: fixed;
}

/* The position attribute in the table data element inside of a card must be
	set to relative to display with the proper position */
.card-content td button{
	position: relative;
}

.card-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 10px;
  }

.card-column{
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

/* Search Styles */
#myInput {
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
  }
  
  #myTable 
  {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
	font-size: 18px;
  }
  
  #myTable th, #myTable td 
  {
	text-align: left;
	padding: 12px;
  }
  
  #myTable tr 
  {
	border-bottom: 1px solid #ddd;
  }
  
  #myTable tr.header, #myTable tr:hover 
  {
	background-color: #f1f1f1;
  }