@charset "UTF-8";
html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	justify-items: center;
  	align-items: center;
	background-color: #013e7f;
}

.title{
    padding: 1px;
	background-color: #f58426;
	outline-color: white;
	margin: auto;
    text-align: center;
	font-weight: bold;
	font-size: 30px;
}

.enter{
	color: white;
}

.forgot-pass-form-field{
	width: 20%;
	align-content: center;
	justify-content: center;
}

#forgot-pass-form-field {
	border-radius: 5px;
	color: black;
	font-weight: bold;
	background-color: white;
}

#forgot-pass-form-submit {
	padding: 7px;
	border-radius: 5px;
	border-color: white;
	color: black;
	font-weight: bold;
	font-size: 12px;
	background-color: #f58426;
	cursor: pointer;
}
